body, html
{
    margin: 0;
    padding: 0;
}

header
{
    .presentation
    {
        margin: 1% 3%;
    }
}
section
{
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    .my_photo
    {
        background: rgba(124, 23, 192, 0.603);
        height: 18rem;
    }
}
footer
{
    .Realisation
    {
        margin: 1% 3%;
    }
}